$bgc-color: #363754
$decor-color: #5d3b65

html
	font-size: 10px

a
	color: #fff
	text-decoration: none

body
	background-color: $bgc-color
	font-size: 1.8rem
	margin: 0
	
.container
	max-width: 97rem
	margin: 0 auto
	padding: 0 1.5rem
.logo 
	display: block
header 
	background-color: $decor-color
.nav-menu
	height: 5rem
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

	li
		list-style: none
		padding: 1.5rem

